@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}


header {
  background-color: #08579B;
  height: 85px;
}

.container-grid{
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cabecalho img {
  border-radius: 8px;
}

.menu{
  width: 895px;
  display: flex;
  justify-content: space-between;
  }

.menu img {
  border-radius: 8px;
}

.banner {
  height:703.63px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/main/section_Banner/Espaço\ do\ Banner.png);
}

.boneco_position{
  display: flex;
  position:relative;
  left: 300px
  ;
}


.promocao{
  display: flex;  
  justify-content: flex-end;
  align-items: flex-start;
  top:28px;
  padding-top: 28px;
 }

 .marcas_de_computador{
  background: #F88E26;
  height: 98.76px;
  }

 .marcas_pc {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }




